<h2>退会手続き</h2>
<p>退会を希望されますか？</p>
<p>退会手続きをされますと全てのサービスとご利用になられた情報全てが削除されます。</p>
<p>再度ご利用いただく際には新規登録が必要です。</p>
<p>本当に退会されますか？</p>
<%= link_to "退会する", user_deleted_path, method: :patch, data: {confilm: "本当に退会しますか？"} %>
<%= link_to "退会しない", user_setting_path %>