<div class="contact-finish">
  <div class="contact-finish-text">
    <p>
      内容を送信しました。</br></br>
      ご入力いただきました内容は弊社にて確認ののち、お客様の登録先メールアドレスにご連絡いたします。</br>
      ご返答に数日かかることがございますがどうぞよろしくお願い申し上げます。
    </p>
  </div>
  <div class="contact-link">
    <%= link_to "TOPへ戻る", root_path, class: "btn btn-primary" %>
  </div>
</div>