<div class="top">
  <h2>top画像</h2>
  <p>Meal Balance Checker</p>
</div>
<div class="top-container">
  <div class="top-explain">
    <h3>~Meal Balance Checkerとは~</h3>
    <p>体重を増やしたい、減らしたい</br>Meal Balance Checkerでは理想の自分に近づくためのお手伝いをさせていただきます。</p>
    <p>「食事の栄養素の確認を簡単に」をコンセプトに</br>栄養素確認サービスを提供しています。</p>
    <p>料理の素材を入力することで、栄養成分がどの程度含まれているのかが確認できます。</p>
    <p>タンパク質、脂質、炭水化物をコントロールしたいときにぜひご利用ください。</p>
  </div>
  <div class="top-demo">
    <p>栄養管理画面デモ</p>
    <h3><%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-success" %></h3>
  </div>
  <div class="top-question">
    <p>〜よくある質問集〜</p>
      <div class="top-question-container">
        <p>Q. コンテンツは有料でしょうか？</p>
        <p>  A. いいえ、無料でご利用できます。</p>
        <p>Q. 検索可能な食材はどれくらいあるのでしょうか？</p>
        <p>  A. 2192個の食材が登録されております。栄養成分は全て政府より提供されておりますデータから引用しております。</p>
      </div>
  </div>
</div>