<h2>top画像</h2>
<h3>~Meal Balance Checkerとは~</h3>
<div>
  <p>男性画像</p>
  <p>お客さんとの付き合いで</br>お昼ご飯は揚げ物を食べすぎちゃったな…</br>夜ご飯、何を食べたら良いんだろう？</p>
</div>
<div>
  <p>女性画像</p>
  <p>今日は職場でみんなとお菓子を食べちゃった。</br>夜ご飯、食べなさすぎるのも嫌なんだけど、</br>何を食べたら良いんだろう？</p>
</div>
<div>
  <p>日々、仕事やプライベートで食事管理が難しくなることがあります。</br>体重を増やしたい、減らしたい</br>こう思っていた時に、1日の食事はどのように調整したら良いのか</br>わからなくて諦めてしまう</br></p>
  <p>このようなお悩みをお持ちの方に</br>日々の食事の栄養素を簡単に管理ができる、</br>日々変化する栄養の過不足分を補うためのメニューをユーザー同士で共有する</br>このようなサービスをMeal Balance Checkerでは提供しています。</p>
</div>
<p>栄養管理画面デモ</p>
<p>新着レシピ一覧</p>
<h3><%= link_to "新規登録はこちら", new_user_registration_path %></h3>

<div>
  <p>〜よくある質問集〜</p>
  <div>
    <p>Q. コンテンツは有料でしょうか？</p>
    <p>  A. いいえ、無料でご利用できます。</p>
    <p>Q. 検索可能な食材はどれくらいあるのでしょうか？</p>
    <p>  A. 2192個の食材が登録されております。栄養成分は全て政府より提供されておりますデータから引用しております。</p>
  </div>
</div>
<h3><%#= link_to 'お問合せはこちら', contact_path %></h3>
