<div class="top">
  <h1 class="top-text">Meal Balance Checker</h1>
</div>
<div class="top-container">
  <div class="top-explain">
    <h3>~Meal Balance Checkerとは~</h3>
    </br></br></br><p>体重を増やしたい、減らしたい</p>
    <p>Meal Balance Checkerでは理想の自分に近づくためのお手伝いをさせていただきます。</p></br></br></br>
    <p>私たちは「食事の栄養素の確認を簡単に」をコンセプトに</p>
    <p>栄養素確認サービスを提供しています。</p>
    <p>料理の素材を入力することで、栄養成分がどの程度含まれているのかが確認できます。</p></br></br></br>
    <p>タンパク質、脂質、炭水化物をコントロールしたいときにぜひご利用ください。</p>
  </div>
  <div class="top-demo">
    <p>メニュー詳細画面デモ</p>
    <%= image_tag 'demo.jpg', size: '720x400' %>
  </div>
    <h3 class="top-signup"><%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-success" %></h3>

  <div class="top-question">
    <p>〜よくある質問集〜</p>
      <div class="top-question-container">
        <p>Q. コンテンツは有料でしょうか？</p>
        <p>  A. いいえ、無料でご利用できます。</p>
        <p>Q. 検索可能な食材はどれくらいあるのでしょうか？</p>
        <p>  A. 2192個の食材が登録されております。栄養成分は全て政府より提供されておりますデータから引用しております。</p>
      </div>
  </div>
</div>