<div class="food-contents">
  <div class="food-contents-top">
    <h2>食材追加</h2>
  </div>
  <div class="food-contents-container">
    <p>↓CSVファイルからの食材追加はこちら↓</br>※デフォルトで2192種類の食材データが登録されております</p>
    <%= form_with url: import_foods_path do |f| %>
      <%= f.file_field :file, accept: '.csv' %></br></br>
      <%= f.submit "アップロード", class: "btn btn-success" %>
    <% end %>
    <div class="csv-demo">
      <p>CSVデータを追加する際は1行目を下図の通り作成してください</p>
      <%= image_tag 'csv-demo.jpg', size: '770x420' %>
    </div>
  </div>
</div>