// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.setting-contents {
  margin: 20px 20px;
  width: 100%;

  .setting-contents-top {
    margin: 20px 0px;
  }

  .setting-contents-container {
    margin: 20px 0px;

    .setting-form {
      margin: 20px 0;
      display: block;
      width: 300px;
    }
  }
}